<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --color-1: #6D22BD;
    --color-2: #A353CE;
    --color-3: #A353CE;
    --color-4: #B0CDEB;
    --color-5: #AFF9F8;
    --color-6: #FFFFFF;
    --color-7: #000000;

    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
  }
</style>

<router-outlet />
